<html lang="en-US">

<head>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<body ng-app="app" ng-controller="controller">

<div class="container">

    <h3>Contacts</h3> <br>

    <table class="table table-striped">

        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>

        </tr>

        <tr ng-repeat="contact in contacts">

            <td>{{contact.name}}</td>
            <td>{{contact.surname}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td><button type="button" class="btn btn-success" ng-click="editContact(contact);">Edit</button></td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteContact(contact);">Delete</button></td>
        </tr>
    </table>

    <hr>

    <button class="btn btn-info" ng-click="showNewUserForm()" ng-disabled="showContactForm">Create</button>


    <form name="contactForm" class="form-horizontal" ng-submit="saveContact()" ng-show="showContactForm" novalidate>

        <h3>Contact data</h3>

        <div ng-class="{ 'has-error': contactForm.name.$invalid && (submitted || contactForm.name.$dirty) }" class="form-group">
            <label class="col-sm-2 control-label">Name:</label>

            <div class="col-sm-10">
                <input type="text" name="name" ng-model="contactData.name" class="form-control" placeholder="Name"
                       required>
                <span style="color:red" ng-show="(submitted || contactForm.name.$dirty) && contactForm.name.$invalid">
                <span ng-show="contactForm.name.$error.required">Name is required.</span>
            </span>
            </div>
        </div>

        <div ng-class="{ 'has-error': contactForm.surname.$invalid && (submitted || contactForm.surname.$dirty) }" class="form-group">
            <label class="col-sm-2 control-label">Surname:</label>

            <div class="col-sm-10">
                <input type="text" name="surname" ng-model="contactData.surname" class="form-control"
                       placeholder="Surname"
                       required>
                <span style="color:red" ng-show="(submitted || contactForm.surname.$dirty) && contactForm.surname.$invalid">
                <span ng-show="contactForm.surname.$error.required">Surname is required.</span>
            </span>
            </div>
        </div>

        <div ng-class="{ 'has-error': contactForm.email.$invalid && (submitted || contactForm.email.$dirty) }" class="form-group">
            <label class="col-sm-2 control-label">Email:</label>

            <div class="col-sm-10">
                <input type="email" name="email" ng-model="contactData.email" class="form-control" placeholder="Email"
                       required>
                <span style="color:red" ng-show="(submitted || contactForm.email.$dirty) && contactForm.email.$invalid">
                <span ng-show="contactForm.email.$error.required">Email is required.</span>
                <span ng-show="contactForm.email.$error.email">Please enter a valid e-mail.</span>
            </span>
            </div>
        </div>

        <div ng-class="{ 'has-error': contactForm.phone.$invalid && (submitted || contactForm.phone.$dirty) }" class="form-group">
            <label class="col-sm-2 control-label">Phone:</label>

            <div class="col-sm-10">
                <input type="text" name="phone" ng-model="contactData.phone" class="form-control" placeholder="Phone"
                       required>
                <span style="color:red" ng-show="(submitted || contactForm.phone.$dirty) && contactForm.phone.$invalid">
                <span ng-show="contactForm.phone.$error.required">Phone is required.</span>
            </span>
            </div>
        </div>

        <div>
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancelEditContact()">Cancel</button>
        </div>

    </form>

</div>


</body>
</html>